utils/__pycache__/__init__.cpython-312.pyc
utils/__pycache__/netmc_data_test.cpython-312.pyc
utils/__pycache__/netmc_data.cpython-312.pyc
utils/__pycache__/lammps_data.cpython-312.pyc
networks/

*.pyc